<!-- Sehajpreet Kaur -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me</title>
    <link rel="stylesheet" href="/public/stylesheets/about.css" />
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>
    <center>
      <img src="/public/images/profile.jpeg" alt="profile" />
      <h1>Sehajpreet Kaur</h1>
      <p>
        I am currently enrolled in Centennial College's Software Engineering
        Technician program in Scarborough, Ontario, where I am cultivating my
        skills in software development, programming, and problem-solving.
        Passionate about technology's ever-evolving landscape, I eagerly embrace
        challenges and stay updated with industry trends. Beyond my academic
        pursuits, I aspire to contribute to impactful projects and collaborate
        with like-minded individuals who share my enthusiasm for innovation. My
        journey in software engineering is a quest for continuous learning and a
        commitment to making a positive impact in the tech world. Thank you for
        visiting my profile, and feel free to explore my portfolio to learn more
        about my experiences and projects.
      </p>
      <a href="/resume" class="download-button">Download My Resume</a>
    </center>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
